<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>

<div class="container">
    <!-- HEADER -->
    <div class="header-container">
        <a href="/" class="logo-container">
            <img th:src="@{/image/logo.png}">
            <p>codulgi</p>
        </a>
        <div class="header-navs">
            <a href="/login">로그인</a>
            <a href="/register">회원가입</a>
        </div>
    </div>

    <!-- Content -->
    <div class="content-container">
        <div class="content-navs">
            <div class="nav-box nav-active">
                <button>전체</button>
            </div>
            <div class="nav-box">
                <button>패션</button>
            </div>
            <div class="nav-box">
                <button>미용</button>
            </div>
            <div class="nav-box">
                <button>IT</button>
            </div>
            <div class="nav-box">
                <button>일상</button>
            </div>
        </div>
        <hr style="margin-bottom: 25px;"/>

        <div class="content-card-list">
            <div class="content-card">
                <div class="left-card">
                    <!-- 프로필 정보-->
                    <div class="profile-box">
                        <div class="profile-image"></div>
                        <div class="profile-info">
                            <p class="profile-name">김예지</p>
                            <p class="profile-ago">1시간전</p>
                        </div>
                    </div>

                    <!-- 게시물 제목-->
                    <div class="content-title">고봉김밥 너무 맛있어서 운썰 푼다</div>

                    <!-- 게시물 내용-->
                    <div class="content-content">아 JMT ㅜㅜㅜㅜㅜ</div>

                    <!-- 게시물 좋아요 횟수-->
                    <div class="like-box">
                        <i class="bi bi-suit-heart-fill"></i>
                        <p>99</p>
                    </div>
                </div>
                <div class="right-card"></div>
            </div>

            <div class="content-card">
                <div class="left-card">
                    <!-- 프로필 정보-->
                    <div class="profile-box">
                        <div class="profile-image"></div>
                        <div class="profile-info">
                            <p class="profile-name">김예지</p>
                            <p class="profile-ago">1시간전</p>
                        </div>
                    </div>

                    <!-- 게시물 제목-->
                    <div class="content-title">고봉김밥 너무 맛있어서 운썰 푼다</div>

                    <!-- 게시물 내용-->
                    <div class="content-content">아 JMT ㅜㅜㅜㅜㅜ</div>

                    <!-- 게시물 좋아요 횟수-->
                    <div class="like-box">
                        <i class="bi bi-suit-heart-fill"></i>
                        <p>99</p>
                    </div>
                </div>
                <div class="right-card"></div>
            </div>

            <div class="content-card">
                <div class="left-card">
                    <!-- 프로필 정보-->
                    <div class="profile-box">
                        <div class="profile-image"></div>
                        <div class="profile-info">
                            <p class="profile-name">김예지</p>
                            <p class="profile-ago">1시간전</p>
                        </div>
                    </div>

                    <!-- 게시물 제목-->
                    <div class="content-title">고봉김밥 너무 맛있어서 운썰 푼다</div>

                    <!-- 게시물 내용-->
                    <div class="content-content">아 JMT ㅜㅜㅜㅜㅜ</div>

                    <!-- 게시물 좋아요 횟수-->
                    <div class="like-box">
                        <i class="bi bi-suit-heart-fill"></i>
                        <p>99</p>
                    </div>
                </div>
                <div class="right-card"></div>
            </div>
        </div>

        <!-- All Content-->
        <button class="all-content">전체 보기</button>

    </div>
</div>

</body>
</html>