<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>게시물 목록</title>
</head>
<body>
<script th:src="@{/js/main.js}"></script>

<div class="container">
    <!-- HEADER -->
    <div class="header-container">
        <a href="/" class="logo-container">
            <img th:src="@{/image/logo.png}">
            <p>codulgi</p>
        </a>
        <div>
            <!-- 로그인 상태에 따라 글쓰기 및 로그아웃 링크를 표시 -->
            <div th:if="${loginUser != null}" class="header-navs">
                <span th:text="'안녕하세요, ' + ${loginUser.name} + '님!'"></span>
                <a href="/posting">글쓰기</a>
                <a href="#" onclick="logout()">로그아웃</a>

                <script>
                    function logout() {
                        fetch('/api/v1/member/logout', {
                            method: 'GET'
                        })
                            .then(response => {
                                if (response.ok) {
                                    alert("로그아웃이 완료되었습니다.");
                                    window.location.href = '/';
                                } else {
                                    alert("로그아웃 실패");
                                }
                            });
                    }
                </script>
            </div>

            <!-- 로그인되지 않은 경우 로그인/회원가입 링크를 표시 -->
            <div th:if="${loginUser == null}" class="header-navs">
                <a href="/login">로그인</a>
                <a href="/register">회원가입</a>
            </div>
        </div>

    </div>

    <!-- Content -->
    <div class="content-container">
        <div class="content-navs">
            <div class="nav-box nav-active">
                <button>전체</button>
            </div>
            <div class="nav-box">
                <button>패션</button>
            </div>
            <div class="nav-box">
                <button>미용</button>
            </div>
            <div class="nav-box">
                <button>IT</button>
            </div>
            <div class="nav-box">
                <button>일상</button>
            </div>
        </div>
        <hr style="margin-bottom: 25px;"/>

        <!-- 게시글 목록 -->
        <div class="content-card-list"></div>

        <!-- All Content-->
        <button class="all-content">전체 보기</button>
    </div>
</div>

</body>
</html>
